{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container p-4">
        {% if user.is_authenticated() %}
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <p>title: <input type="text" name="title" id=""></p>
            <p>content: <input type="text" name="content" id=""></p>
            <p><input type="file" name="sns_image" id=""></p>
            <input type="hidden" name="author" value="{{ user.username }}">
            <input type="submit" value="create">
        </form>
        {% else %}
        please login
        {% endif %}
    </div>
    <!-- /.container -->
</body>
{% endblock content %}