{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock custom_css %}
{% block content %}

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form method="POST">{% csrf_token %}
            {{ context }}
            <h1 class="h3 mb-3 fw-normal">Please login in</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main>
</body>
{% endblock content %}